Package: me.chewitt.kobo
Name: kobo
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Charlie Hewitt
Author: Charlie Hewitt
Section: Tweaks
